# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/

# Logs and runtime files
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Dataset file
IMDB Dataset.csv
